{% extends 'base.html.twig' %}

{% block title %}
	Box - Detail
{% endblock %}

{% block body %}
	{% if box is empty %}

		<h3 class="text-center">Aucune box courante</h3>

	{% endif %}

	{% if box is not empty %}

		<div class="container mt-4">
			<h1>Box :
				{{ box.libelle }}</h1>
			<p>{{ box.description }}</p>
			{% if box.statut == 1 %}
				<form action="{{ url_for('validerBox') }}" method="get">
					<input type="hidden" name="id" value="{{ box.id }}">
					<button type="submit" class="btn btn-primary btn-lg mt-4">Valider cette Box</button>
				</form>
			{% elseif box.statut == 2 %}
				<h5 class="text-success">Box validée</h5>
				<form action="{{ url_for('payerBox') }}" method="get">
					<input type="hidden" name="id" value="{{ box.id }}">
					<button type="submit" class="btn btn-primary btn-lg mt-4">Payer cette Box</button>
				</form>
			{% elseif box.statut == 3 %}
				<h5 class="text-success">Box payée</h5>
				<form action="{{ url_for('genererUrlAcces') }}" method="get">
                    <input type="hidden" name="id" value="{{ box.id }}">
                    <button type="submit" class="btn btn-primary btn-lg mt-4">Générer la Box</button>
                </form>
			{% endif %}
		</div>

	{% endif %}

	<hr>

	{% if prestations is not empty %}

		<div class="container mt-4">
			<h2>Les prestations de la box :
			</h2>


			<table class="table table-hover table-primary table-bordered">
				<thead>
					<tr>
						<th scope="col">Libelle</th>
						<th scope="col">Description</th>
						<th scope="col">Tarif</th>
						<th scope="col">Quantité</th>
					</tr>
				</thead>
				<tbody>


					{% for prestation in prestations %}

						<tr class="table-light" onclick="window.location.href='{{ url_for('detailPrestation', {}, { 'id': prestation.id }) }}'" onmouseover="this.style.cursor='pointer'; this.style.backgroundColor='#f8f9fa';" onmouseout="this.style.backgroundColor='white';">
							<td>
								<a class="link-underline link-underline-opacity-0 link-underline-opacity-75-hover" href="{{ url_for('detailPrestation', {}, { 'id': prestation.id }) }}">{{ prestation.libelle }}</a>
							</td>
							<td>{{ prestation.description }}</td>
							<td>{{ prestation.tarif }}
								€</td>
							<form action="{{ url_for('updatePrestaQtInBox') }}" method="get">
								<td><input type="number" name="quantite" id="quantite" class="form-control" value="{{ prestation.quantite }}" min="1" onclick="event.stopPropagation();">
									{% if box.statut == 1 %}

										<input type="hidden" name="id" value="{{ prestation.id }}">
										<button type="submit" class="btn btn-primary btn-sm">Modifier</button>

										<form action="{{ url_for('deletePrestaFromBox') }}" method="get">
											<input type="hidden" name="id" value="{{ prestation.id }}">
											<button type="submit" class="btn btn-danger btn-sm">Supprimer</button>
										</form>

									{% endif %}
								</td>
							</form>
						</tr>

					{% endfor %}

				</tbody>

			</table>

			<h5 class="text-center">
				{{ box.montant }}
				€ au total pour la box
			</h5>

		</div>

	{% else %}

		<h3 class="text-center">Aucune prestation pour cette box</h3>

	{% endif %}

{% endblock %}
