{% extends 'base.html.twig' %}

{% block title %}
	Presta - Liste
{% endblock %}

{% block body %}

	<figure>
		<blockquote class="blockquote mx-4 mt-4">
			<h1>Liste des prestations :
			</h1>
		</blockquote>
	</figure>

	<hr>
	<form method="get" action="/prestations" id="sortForm" class="d-flex align-items-center justify-content-end">
		<div class="form-group mb-0">
			<select class="form-control" id="sortOption" name="sortOption">
				<option value="none" {% if app.request.query.get('sortOption') == 'alphabetique' %}selected{% endif %}>Aucun</option>
				<option value="asc" {% if app.request.query.get('sortOption') == 'prixASC' %}selected{% endif %}>Prix croissant</option>
				<option value="desc" {% if app.request.query.get('sortOption') == 'prixDESC' %}selected{% endif %}>Prix décroissant</option>
			</select>
		</div>
		<button type="submit" class="btn btn-primary ml-2 pl-3">Trier</button>
	</form>

	<div class="container mt-4">
		<ul class="list-unstyled d-flex flex-wrap justify-content-around">
			{% for prestation in prestations %}
				<li>
					<div class="card" style="width: 20rem; height: 20rem;" onclick="window.location.href='/prestation?id={{ prestation.id }}'" onmouseover="this.style.cursor='pointer'; this.style.backgroundColor='#f8f9fa';" onmouseout="this.style.backgroundColor='white';">
						<div class="card-header">
							<h5 class="card-title">{{ prestation.libelle }}</h5>
						</div>
						<div class="card-body">
							<p class="card-text">tarif : {{ prestation.tarif }} €</p>

							<p class="card-text">catégorie : {{ prestation.categorie.libelle }}</p>

							<img src="/img/{{ prestation.img }}" class="card-img-top" alt="...">
						</div>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>

{% endblock %}
