{% extends 'base.html.twig' %}

{% block title %}
	Presta - Detail
{% endblock %}

{% block body %}

	<div class="container d-flex justify-content-center">
		<figure class="mt-4">
			<blockquote class="blockquote mx-4 mt-4">
				<h2>{{ prestation.libelle }}</h2>
				<p class="mb-0">Description :
					{{ prestation.description }}</p>
				{% if prestation.url %}
					<p class="mb-0">Url :
						{{ prestation.url }}</p>
				{% endif %}
				{% if prestation.unite %}
					<p class="mb-0">Unité :
						{{ prestation.unite }}</p>
				{% endif %}
				<p class="mb-0">Tarif :
					{{ prestation.tarif }}
					€</p>
				<p class="mb-0">Catégorie :
					{{ prestation.categorie.libelle }}</p>
				<img src="/img/{{ prestation.img }}" alt="...">

			</blockquote>
		</figure>
		<div class="mt-4">
			<form action="{{ url_for('addPresta2Box') }}" method="get">
				<input type="hidden" name="id" value="{{ prestation.id }}">
				<input type="number" name="quantite" id="quantite" class="form-control" placeholder="Quantité" min="1" value="1" required>
				<button type="submit" class="btn btn-primary btn-lg mt-4">Ajouter cette Prestation à la box courante</button>
			</form>
		</div>
	</div>
{% endblock %}
